:root{
    --branco-salmao: #fff1e3;
    --preto-claro: #303030;
    --azul-bg: #5c54ed;
    --azul-hover: #918ccf;
    --vermelho-erro: rgb(97, 17, 17);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/bg-weather.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.hide{
    display: none;  
}
