.container{
    background-color: var(--azul-bg);
    box-shadow: rgba(0, 0, 0, .2) 0 3px 8px;
    padding: 2rem;
    color: var(--branco-salmao);
    border-radius: 1rem;
}

@media screen and (min-width: 0) {
    .container{
        width: 100%;
        margin: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .container{
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .container{
        width: 40%;
    }
}